/* Estilos específicos de Producción */
:host{display:block}

.production-header{
  font-weight:1000;
  font-size:18px;
}

.production-subtitle{
  color:var(--muted);
  font-size:13px;
}

